
<div class="row fw-bold text-center text-light">

    <h1>404</h1>

   

    <h3 style="font-size:30px;">Sayfa Bulunamadı</h3>
    <p>Ana sayfaya gitmek için <a href="/">BURAYA</a> tıklayabilirsin. </p>




</div>